*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{font-family: Arial, Helvetica, sans-serif; display: flex; align-items: center;}

body{
    font-family: Arial, Helvetica, sans-serif; margin: 10vh 3vw 3vh;
}

p{font-size: 1rem;}

h1{font-size: 2rem;}

.menu{
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid black;
}

.desplegable {display: flex; margin: 28px; }

.menu2 a{
    color: black;
    text-decoration: none;
    display: flex;
    margin: 20px;
}

.menu2 a:hover{
    opacity: 1;
    text-decoration: underline; 
    color: #bebebe; 
}

.menu img{width: 90px;}

.abrir-menu{display: none;}

.cerrar-menu{display: none;}

.video video{width: 100%; margin: 10vh auto;}

.presentacion{
    text-align: center;
    margin: 20vh auto 0  0;
    display: block;
    justify-content: center;
    background-color: rgb(177, 175, 175);
    padding: 3%;
}

.presentacion p{
    width: 50vw;    
    margin: 5vh auto; 
    font-size: 1rem;
}

.nombre{font-weight: bold;}

li{list-style: none;}

.tarjetas img{height: 42vh;}

.tarjetas{
    display: flex;
    width: 90vw;
    margin: 5vh auto  ;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tar{
    font-size: 1rem;
    margin: 20px;
    text-align: center;
    border: 1px solid black;
}

.recientes {
    margin: 20vh auto;
    text-align: center;
}

.destacados{
    margin: 20vh auto;
    text-align: center;
}

.button {
    background-color: rgb(177, 175, 175);
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.button:hover{
    text-decoration: underline; 
    background-color: black; 
}

.formacion ul{margin: 10vh;}
.formacion ul li h3{margin-top: 3vh;}
.fadu img{ width: 50%; float: right;}

.behance{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10vh;
}
.behance iframe{ margin-top: 3vh;}


footer{
    background-color: black;
    color: white;
    padding: 3%;
    display: flex;
    justify-content: space-between;
}

.iconos i{
    margin: 10px;
    font-size: 1.5rem;
    color: white;
}

.iconos i:hover{color: #bebebe;}

footer input{width: 30vw;}

#carouselExampleIndicators {
    width: 90%;
    margin: 10vh auto;
}

.formulario {
    margin: 20vh 10vw;
    background-color: #bebebe;
    padding: 15vh 5vw;
}

.btn {
    background-color: white;
    color: black;
    border: white;
}

.btn:hover{
    background-color: black;
}

.novedades button{
    background-color: white;
    color: black;
    border: white;
    border-radius: 4px;
    font-size: 1rem;
    padding: 2px;
}

.novedades button:hover{
    background-color: #bebebe;
    color: white;
    text-decoration: underline;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
}

.modal-container{
    width: 30%;
    background-color: white;
    max-height: 90%;
    max-width: 30%;
    margin: auto;
    border-radius: 8px;
    padding: 3em;
    display: grid;
    place-items: center;
    text-align: center;
}

.cerrar-consulta{
    text-decoration: none;
    color: white;
    background-color: #bebebe;
    padding: 2%;
    border-radius: 6px;
    display: inline-block;
    transition: background-color .3s;
}
.cerrar-consulta:hover{background-color: black;}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .4s;
}

@keyframes show {
	from {
		opacity: 0;
		scale: 25%;
	}

	to {
		opacity: 1;
		scale: 100%;
	}
}

.destacados {
	view-timeline-name: --image;
	view-timeline-axis: block;

	animation-timeline: --image;
	animation-name: show;

	animation-range: entry 10% cover 50%;
	animation-fill-mode: both;
}

.presentacion  {
	view-timeline-name: --image;
	view-timeline-axis: block;

	animation-timeline: --image;
	animation-name: show;

	animation-range: entry 10% cover 50%;
	animation-fill-mode: both;
}

@media (max-width: 768px) {
    
    #carouselExampleIndicators{ width: 100%;z-index: 1; }

    .menu2 li {
        font-size: 0.8rem;
        margin: 2vh;
    }

    .novedades {font-size: 0.7rem;}

    .iconos i {font-size: 0.8rem; display: flex; flex-direction: column; text-align: center;}

    footer input{ width: 70vw; }

    footer button {margin: 2vh 0;}

    .behance iframe{
        width: 90%;
        justify-content: center;
    }

    .behance{
        width: 100%;
        justify-content: center;
    }
     
}

@media (max-width: 425px) {
    .fadu img{ width: 80%; margin-right: 10%; margin-bottom: 5vh;}
    .abrir-menu, .cerrar-menu{
        display: block;
        border: 0;
        background-color: transparent;
        font-size: 2rem;
    }
   
    .menu2.visible{
        opacity: 1;
        visibility: visible;
        display: block;
    }

    .menu2{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #bebebe;
        box-shadow: 0 0 0 100vmax rgb(0, 0, 0, .5);
        z-index: 2; 
    }
    .desplegable{
        flex-direction: column;
        align-items: end;
        
    }

    .desplegable a{
        font-size: 1.5rem;
    }

    .modal-container{
        padding: 5%;
        width: 50%;
        max-height: 90%;
        max-width: 50%;
    }
    
}